.pagination-container {
    text-align: center;
    margin: 40px 0;
}
.page-button {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.page-button.active {
    background-color: var(--colore-primario);
    color: white;
    border-color: var(--colore-primario);
}