body {
    font-family: sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #6a1b9a; /* Un viola ispirato a Tessiland */
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#searchInput {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#searchButton {
    padding: 10px 20px;
    border: none;
    background-color: #f06292; /* Un rosa/fucsia a tema */
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #ec407a;
}